* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.background-1 {
    background-image: url('../images/news/heading1.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.background-1::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25); 
}

.background-1 > * {
    position: relative;
    z-index: 2;
}


.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    align-items: center;
    padding: 30px 50px;
    position: relative;
}

.nav .logo {
    line-height: 1.4em;
    font-size: 2.1rem;
    letter-spacing: 0.04em;
    font-weight: 700;
    color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

.nav .links-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.nav .links-social .link  {
    display: flex;
    gap: 25px;
    
}

.nav .links-social .link a {
    text-decoration: none;
    font-size: 1.0rem;
    color: #F5F5F5;
    position: relative;
}

.nav .links-social .link a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #F5F5F5;
    transition: 0.3s;
}

.nav .links-social .link a:hover::after {
    width: 100%;
}

.nav .links-social .link a.active::after {
    width: 100%;
}

.nav .links-social .social {
    display: flex;
    gap: 25px;
}

.nav .links-social .social i {
    font-weight: 400;
    line-height: 1.2em;
    color: #F5F5F5;
    font-size: 1.3rem;
}




.section-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main .section-1 h1{
    font-weight: 700;
    line-height: 1.3em;
    font-size: 3.5em;
    color: #F5F5F5;
}

.news-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 45px;
  padding: 120px 0 20px;
  flex-wrap: wrap; 
}

.news-card {
    flex: 1 1 450px;
    max-width: 560px;
  text-align: center;
}

.news-card img {
  width: 100%;
  height: auto;
  display: block;
}

.news-card .date {
  color: #555;
  margin: 20px 0 20px;
}

.news-card h2 {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 20px;
}

.news-card .desc {
  color: #444;
  line-height: 1.6;
}

.section-9.footer {
    background: #111;
    color: #fff;
    padding: 90px 20px;
    margin-top: 80px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.footer-column {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-column h4 {
    font-size: 1.7em;
    font-weight: 700;
    color: #fff;
}

.footer-column p {
    text-align: center;
    font-size: 0.95em;
    font-weight: 300;
    line-height: 1.6;
    color: #ccc;
}

.footer-column.social .social-icons {
    display: flex;
    gap: 20px;
}

.footer-column.social .social-icons a {
    font-size: 1.5em;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.footer-column.social .social-icons a:hover {
    transform: scale(1.1);
    color: #f0f0f0;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  color: #F5F5F5;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  z-index: 10;
  display: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.mobile-menu.open {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.mobile-links a {
  text-decoration: none;
  color: #F5F5F5;
  font-size: 1.0rem;
  transition: color 0.3s;
}

.mobile-links a:hover {
  color: #ccc;
}

.mobile-social {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.mobile-social a {
  color: #F5F5F5;
  font-size: 1.3rem;
  transition: color 0.3s;
}

.mobile-social a:hover {
  color: #ccc;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.6s ease;
}

.slide-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.slide-left {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.animate,
.slide-up.animate,
.slide-left.animate {
    opacity: 1;
    transform: none;
}

@media screen and (max-width: 950px) {
    .nav .links-social {
        display: none;
    }

    .nav {
        justify-content: space-between;
        padding: 10px 20px;
    }

    .nav .logo {
        font-size: 1.8rem;
    }

    .hamburger {
        display: block;
    }

    .section-1 {
        padding: 100px 0;
    }

    .news-section {
        padding: 80px 20px;
        gap: 40px;
    }

    .news-card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .section-9 {
        padding: 60px 20px;
        margin-top: 40px;
    }

    .footer-container {
        gap: 30px;
    }

    .footer-column {
        flex: 1 1 100%;
        text-align: center;
    }
}

@media screen and (max-width: 650px) {
    .hamburger {
        width: 25px;
    }
    .mobile-menu {
        padding: 15px;
    }

    .section-1 {
        padding: 80px 0;
        gap: 30px;
    }

    .main .section-1 h1 {
        font-size: 3.6em;
    }
    .main .section-1 p {
        font-size: 1.4em;
    }

    .section-1 p br {
        display: none;
    }

    .news-section {
        padding: 60px 20px;
        gap: 40px;
    }

    .news-card h2 {
        font-size: 1.2em;
    }

    .section-9 {
        padding: 60px 20px;
    }

    .section-9.footer {
        margin-top: 0;
    }
}

@media screen and (max-width: 420px) {
    .hamburger {
        width: 30px;
        height: 30px;
        padding: 5px 0 0 0;
    }
    .mobile-menu {
        padding: 5px;
    }
    .nav {
        padding: 15px 10px;
        align-items: center;
    }
    .nav .logo {
        font-size: 1.5rem;
    }
    .section-1 {
        padding: 60px 30px;
        gap: 60px;
    }
    .main .section-1 h1 {
        font-size: 2.8em;
        line-height: 1.2em;
    }
    .main .section-1 p {
        font-size: 1.2em;
        word-break: normal;
    }

    .main .section-1 p br {
        display: none;
    }

    .news-section {
        padding: 40px 15px;
        gap: 30px;
    }

    .news-card h2 {
        font-size: 1.1em;
    }

    .section-9 {
        padding: 60px 20px;
    }
}

@media screen and (max-width: 375px) {
    .hamburger {
        width: 30px;
        height: 30px;
        padding: 5px 0 0 0;
    }
    .mobile-menu {
        padding: 5px;
    }
    .nav {
        padding: 5px 10px;
    }

    body {
        overflow-x: hidden;
    }
    .nav .logo {
        font-size: 1.5rem;
    }
    .section-1 {
        padding: 60px 30px;
        gap: 60px;
    }
    .main .section-1 h1 {
        font-size: 2.8em;
        line-height: 1.2em;
    }
    .main .section-1 p {
        font-size: 1.2em;
    }

    .news-section {
        padding: 30px 15px;
        gap: 25px;
    }

    .news-card h2 {
        font-size: 1.0em;
    }

    .section-9 {
        padding: 60px 20px;
    }
}

@media screen and (max-width: 350px) {
    .hamburger {
        width: 30px;
        height: 30px;
        padding: 5px 0 0 0;
    }
    .mobile-menu {
        padding: 5px;
    }
    .nav {
        padding: 5px 10px;
    }
    .nav .logo {
        font-size: 1.5rem;
    }
    .section-1 {
        padding: 60px 30px;
        gap: 60px;
    }
    .main .section-1 h1 {
        font-size: 2.8em;
        line-height: 1.2em;
    }
    .main .section-1 p {
        font-size: 1.2em;
    }

    .news-section {
        padding: 20px 15px;
        gap: 20px;
    }

    .news-card h2 {
        font-size: 0.9em;
    }

    .section-9 {
        padding: 60px 20px;
    }
}

@media screen and (max-width: 500px) {
    .hamburger {
        width: 30px;
        height: 30px;
        padding: 5px 0 0 0;
    }
    .mobile-menu {
        padding: 5px;
    }
    .nav {
        padding: 5px 10px;
    }
    .nav .logo {
        font-size: 1.5rem;
    }
    .section-1 {
        padding: 60px 30px;
        gap: 60px;
    }
    .main .section-1 h1 {
        font-size: 2.8em;
        line-height: 1.2em;
    }
    .main .section-1 p {
        font-size: 1.2em;
    }

    .news-section {
        padding: 40px 15px;
        gap: 20px;
    }

    .news-card h2 {
        font-size: 1.1em;
    }

    .section-9 {
        padding: 60px 20px;
    }
}

@media screen and (max-width: 299px) {
    .hamburger {
        width: 25px;
        height: 25px;
        padding: 3px 0 0 0;
    }
    .mobile-menu {
        padding: 3px;
    }
    .nav {
        padding: 3px 5px;
    }
    .nav .logo {
        font-size: 1.3rem;
    }
    .section-1 {
        padding: 40px 20px;
        gap: 40px;
    }
    .main .section-1 h1 {
        font-size: 2.4em;
        line-height: 1.1em;
    }
    .main .section-1 p {
        font-size: 1.1em;
    }

    .news-section {
        padding: 30px 10px;
        gap: 15px;
    }

    .news-card h2 {
        font-size: 0.8em;
    }

    .section-9 {
        padding: 40px 15px;
    }
}


